// This file holds global styles, only.

@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";
@import "theme.less";

body {
  height: 100%;
  margin: 0;
  user-select: none;
  width: 100%;
}

#application {
  height: 100%;
}
